* {
  margin: 0;
  padding: 0;
}
:root {
  --orange: #FE6903;
  --bodyColor: #ECEEED;
  --blue: #0D4290;
  --white: #ffff;
  --dark1: #2D2D2D;
  --dark2: #505050;
  --dark3: #9C9C9C;
  --dark4: #C2C2C2;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bodyColor);
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost', sans-serif;
}

/*------- Logo name -------*/
.name {
  font-size: 17px;
  margin: 0;
  color: var(--dark2);
}

/* ------ Navigation ------ */

.navbar{
  background-color: var(--white);
}

.navbar a, .navbar a:focus {
  color: var(--blue);
}

.navbar-nav .active:active {
  color: var(--orange) !important;
  }

  .navbar a i, .navbar a:focus i {
  font-size: 12px;
}


.navbar-nav li:hover > a {
  color: var(--orange);
  
} 

/* ------ Hero Section ------ */
section.masthead {
  padding-top: 146px;
  padding-bottom: 146px;
}

.masthead-heading {
  font-size: 70px;
  width: 800px;
  color: var(--blue);
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.masthead-subheading {
  font-size: 1.5rem;
}

.span-name {
  color: var(--orange);
}

.masthead-avatar {
  width: 280px;
  margin-bottom: 0px !important;
  
}

/*----- Hero MD Screen Responsive -----*/
@media (max-width: 992px) {
  section.masthead {
    padding-top: 82px;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 58px;
    line-height: 3.5rem;
    width: 700px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

/*----- Hero SM Screen Responsive -----*/
@media (max-width: 768px) {
  section.masthead {
    padding-top: 82px;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 2.9rem;
    line-height: 3.2rem;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

.chevron-down-icon {
  color: var(--orange);
}