* {
  margin: 0;
  padding: 0;
}
:root {
  --orange: #fe6903;
  --bodyColor: #eceeed;
  --blue: #124faa;
  --white: #ffff;
  --dark1: #2d2d2d;
  --dark2: #505050;
  --dark3: #9c9c9c;
  --dark4: #c2c2c2;
  --dark-light: #d4d4d4;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bodyColor);
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*------- Logo name -------*/
.name {
  font-size: 17px;
  margin: 0;
  color: var(--dark2);
}

/* ------ Navigation ------ */
.navbar {
  background-color: var(--white);
}

.navbar-nav a {
  margin: 0 10px;
  color: var(--blue);
  font-weight: 500;
}

.nav-link a:active {
  color: var(--orange) !important;
}

.navbar-nav li:hover > a {
  color: var(--orange);
}

.navbar-nav li:active > a {
  color: var(--dark4);
}

/* ------ Hero Section ------ */
.masthead {
  height: 100vh;
  padding-top: 300px;
  padding-bottom: 136px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/rect%3e%3cpath d='M1440 0L842.85 0L1440 187.46z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M842.85 0L1440 187.46L1440 280.26L509.83000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M509.83000000000004 0L1440 280.26L1440 319.15L204.28000000000003 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M204.27999999999997 0L1440 319.15L1440 424.84L146.78999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L707.35 560L0 308.26z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 308.26L707.35 560L953.12 560L0 207.01999999999998z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 207.01999999999998L953.12 560L1177.81 560L0 101.88999999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 101.88999999999999L1177.81 560L1350.77 560L0 81.76999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(248%2c 248%2c 248%2c 1)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead-heading {
  font-size: 70px;
  width: 800px;
  color: var(--blue);
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.masthead-subheading {
  font-size: 1.6rem;
}

.span-name {
  color: var(--orange);
}

.masthead-avatar {
  width: 260px;
  margin-bottom: 0px !important;
}

/*----- Hero MD Screen Responsive -----*/
@media (max-width: 992px) {
  .masthead {
    padding-top: 350px;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 58px;
    line-height: 3.5rem;
    width: 700px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

/*----- Hero SM Screen Responsive -----*/
@media (max-width: 768px) {
  .masthead {
    padding-top: 300px;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .masthead .masthead-subheading {
    font-size: 1.4rem;
  }
}

/* --------- Chevron Down Icon --------- */
.chevron-down {
  color: var(--orange);
  margin-top: 120px;
  cursor: pointer;
}

.chevron-down:hover {
  color: var(--orange);
}

/* ---------------- About Me Section ------------ */
.page-section-about {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: var(--blue);
}

.page-section-heading-about {
  margin-bottom: 50px;
  color: var(--orange);
  font-size: 2.5rem;
}

.page-section-subheading {
  font-size: 18px;
  color: var(--dark2);
}

/*------------------ Skills Section --------------*/
.page-section-skills {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: var(--bodyColor);
}

.page-section-heading-skills {
  margin-bottom: 15px;
  color: var(--blue);
  font-size: 2.5rem;
}

.page-section-subheading {
  margin-top: 70px;
  margin-bottom: 40px;
}

.progress {
  height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  height: 20px;
  background-color: var(--dark-light);
  margin: 0;
  padding: 0;
}

.app-name {
  display: inline-block;
}

.progress-bar {
  background-color: var(--orange);
}

#html {
  padding-left: 0 !important;
}

#css {
  padding-right: 0 !important;
}

#javascript {
  padding-left: 0 !important;
}

#bootstrap {
  padding-right: 0 !important;
}

/*----- Progress Bar MD Screen Responsive -----*/
@media (max-width: 992px) {
  #html,
  #css,
  #javascript,
  #bootstrap {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .app-icon {
  }
}

/*----- Progress bar SM Screen Responsive -----*/
@media (max-width: 768px) {
}

.precentage {
  font-size: 18px;
  font-weight: 500;
  float: right;
  align-items: center;
  display: inline-block;
}

.app-icon {
  float: left;
  margin-right: 20px;
  margin-left: 0px;
}

.app-name {
  font-size: 20px;
}

/* -------------- divider ------------- */
.wrapper {
  padding-bottom: 10px;
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(87, 87, 87),
    transparent
  );
}

/* ------- Projects Section -------- */

.page-section-projects {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: var(--bodyColor);
}

.page-section-heading-projects {
  margin-bottom: 15px;
  color: var(--blue);
  font-size: 2.5rem;
}
